<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#84A5A1">
  	<meta http-equiv="content-language" content="pt-br">

    <title>Generator</title>
    <meta name="robots" content="index,follow">
    <meta name="description" content="Gerador de codinomes ultrasecretos da Odebri.">
  	<meta name="keywords" content="Gerador, codinomes, apelido, Odebrecht, Avião">

    <meta property="og:url"           content="http://kyozeus.github.io/odebrechtgenerator" />
    <meta property="og:type"          content="Odebrecht Generator" />
    <meta property="og:title"         content="Odebrecht Generator" />
    <meta property="og:description"   content="Gerador de codinomes ultrasecretos da Odebri" />
    <meta property="og:image"         content="http://kyozeus.github.io/odebrechtgenerator/img/aviao.png" />

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Kreon|Port+Lligat+Slab|Handlee' rel='stylesheet' type='text/css'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
	  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet prefetch preload" href="css/index.css">
  </head>
  <body ng-app="o-generator">
    <script src="js/facebook.js"></script>

    <header ng-controller="generatorController" class="container">
      <div class="wrapper">
        <h1>Odebrecht Generator</h1>
        <div class="jumbotron"><h3>Seu nome é<br>"<span style="font-weight: bold;">{{nome}}</span>"</h3></div>
        <button type="button" name="button" ng-click="generateNew()">Gerar novo nome</button>
        <button type="button" name="button" ng-click="sendTweet()">Tweetar seu nome! <i class="fa fa-twitter"></i></button>
      	<!-- Your like button code -->
      	<br>
        <div class="fb-like" data-href="http://kyozeus.github.io/odebrechtgenerator" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>

		    <br><img class="aviao" src="img/aviao.png">
	     </div>
       <p class="texto-embaixo">Ideias? Sugestões? <a href="https://twitter.com/chicoknebel">@chicoknebel</a></p>
    </header>

    <footer class="navbar navbar-fixed-bottom">
  		<div class="container-fluid">
  			<div class="row">
  				<div class="text-center">
  					<a href="https://twitter.com/chicoknebel"><i class="fa fa-twitter fa-3x fa-inverse"></i></a>
  					<a href="https://github.com/KyoZeus"><i class="fa fa-github fa-3x fa-inverse"></i></a>
            <!-- Start of SimpleHitCounter Code -->
            <div align="center"><img src="http://simplehitcounter.com/hit.php?uid=2047841&f=16777215&b=0" border="0" height="18" width="83" alt="SimpleHitCounter"></div>
            <!-- End of SimpleHitCounter Code -->
          </div>
  			</div>
      </div>
  	</footer>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js'></script>
    <script src='js/generator.js'></script>
    <script src='js/analytics.js'></script>
  </body>
</html>
